html, body {
    font-size: 100%;
    font-family: Helvetica, 'Raleway', sans-serif;
    color: #888889;
    background: #1C1C25;
}
.no-padding> [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
.no-padding {
    padding-right: 0;
    padding-left: 0;
}
.left, .right {
    width: 20%;
    background-color: #23232C;
    height: 148vh;
    overflow: hidden;
}
.left {
    float: left;
}
.right {
    float: right;
}
header .container {
    position: relative;
}
#search {
    position: absolute;
    top: -7px;
    right: 0;
}
.search_bar {
    min-height: 100px;
    padding: 20px 0;
}
.search_bar input {
    border-radius: 40px;
    border: none;
    width: 100%;
    min-height: 50px;
    outline: none;
}
main.full_page {
    background-color: #1C1C25;
    height: 100vh;
    float: left;
    width: 80%;
    padding: 0 50PX;
}
.slide {
    width: 60% !important;
    transition-duration: 0.6s;
}
.all__ {
    width: 100% !important;
}
header {
    position: relative;
    z-index: 10;
    background-color: #23232C;
    width: 100%;
}
.logo__home {
    margin: 0 auto;
    display: block;
    position: absolute;
    width: 17%;
    right: 50%;
    transform: translate(50%);
}
.clearBoth {
    clear: both;
}
.hamburger {
    color: #fff;
    float: left;
    line-height: 5;
    outline: none;
}
img {
    max-width: 100%;
}
.id_name {
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.border {
    border-right: 1px solid #95989A;
}
.follower, .tracks {
    color: #95989A;
    text-align: center;
}
.follower::after {
    content: 'followers';
    display: block;
    height: 1em;
}
.tracks::after {
    content: 'tracks';
    display: block;
    height: 1em;
}
.navbar_profile ul li {
    list-style: none;
    text-align: center;
    color: white;
    margin: 20px 0px;
    font-size: 1.4rem;
    border-bottom: 1px solid #95989A;
    padding: 20px 0px;
}
ul, ol {
    margin: 0;
    padding: 0;
}
h1 {
    color: #888889;
    margin-left: 80px;
    text-align: center;
}
.cover {
    max-width: 100%;
    border: 3px solid #23232C;
    border-radius: 50%;
}
::-webkit-input-placeholder {
    padding: 0 20px;
}
:-moz-placeholder {
    /* Firefox 18- */
    padding: 0 20px;
}
::-moz-placeholder {
    /* Firefox 19+ */
    padding: 0 20px;
}
:-ms-input-placeholder {
    padding: 0 20px;
}
.cover_right_small {
    max-width: 100%;
    margin: 0 20px;
    border: 9px solid;
    position: relative;
    width: 33%;
    float: left;
}
ul.playlist {
    float: left;
}
ul.playlist li {
    list-style: none;
    color: #95989A;
    margin: 5px 0;
}
.like_panel li {
    display: inline;
}
.like_panel li img {
    width: 30%;
}
.like_panel {
    text-align: center;
}
.sound, .artist {
    line-height: 1;
    color: white;
    text-align: center;
}
.artist {
    margin-top: 5px;
}
.hover_ap {
    background: rgba(35, 35, 44, 0.72);
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    width: 92%;
    display: none;
}
.image_cover {
    position: relative;
}
.equalize {
    width: 158px;
    margin: 0 auto;
    display: block;
}
.heart {
    display: block;
    width: 84px;
    margin: 0 auto;
    margin-top: -30px;
}
.image_cover:hover .hover_ap {
    display: block;
}
.cover_right {
    max-width: 100%;
    margin: 20px;
    border: 9px solid;
    position: relative;
}
.infos_cover {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.51);
}
p.suggest {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.suggest_box {}
.form_upload input {
    width: 60%;
    margin: 20px 0;
}
.form_upload label {
    float: left;
}
.form_upload {
    width: 60%;
    margin: 0 auto;
}
.cover {
    border-radius: 50%;
}
.ccHeart {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("../images/coupCoeur.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
.hover_ap form {
    display: inline-block;
    background-color: transparent;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: transparent;
    margin-top: -70px;
}
.formCoeur {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.AAA {
    display: none;
}
.profile {
    float: left;
    width: 48%;
}
.infos_follow p {
    text-align: left;
}
.infos_follow {
    padding: 30px 0;
    border-right: 2px solid #333334;
}
.tracks, .follower {
    float: left;
    margin-right: 30px;
    color: #888889;
    font-size: 1.8rem;
}
.description_box {
    padding: 30px 10px;
    color: #888889;
}
.description_box img {
    float: right;
    width: 12%;
}
.profile_user {
    position: absolute;
    width: 100%;
    border-bottom: 3px solid #333333;
    padding: 20px 88px;
}
.image_fb {
    float: left;
}
.unlike_nb,.like_nb{
  width: 50%;
    position: absolute;
    z-index: 90;
    top:67px;
}
.unlike_nb{
  right: 0;
}
.like_nb{
  left: 0;
}
.description_box i{
  float: right;
    font-size: 28px;
    margin-top: 16px;
    color: white;
}

.avatarUser{

}

#avatarUserDiv{
    background-color: #064955;
  border-radius: 50%;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#avatarUserDiv:before{
  content: "";
	display: block;
	padding-top: 80%;
	/* initial ratio of 1:1*/
}

#avatarUserDiv img{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
